.text-white {
    color: $white !important;
}
.text-black {
    color: $black !important;
}
.text-blue {
    color: $blue;
}
.text-red {
    color: $red;
}
.text-magenta {
    color: $magenta;
}
.text-gray-light {
    color: $gray-light;
}
.text-gray {
    color: $gray;
}
.text-gray-dark {
    color: $gray-dark;
}
.text-green {
    color: $green;
}
.text-orange {
    color: $orange;
}




.background-white {
    background-color: $white;
}

.background-gray {
    background-color: $gray;
}
.background-gray-dark {
    background-color: $gray-dark;
}
.background-gray-light {
    background-color: $gray-light;
}
.background-gray-light-light {
    background-color: $gray-light-light;
}


.background-yellow {
    background-color: $yellow;
}

.background-red {
    background-color: $red;
}

.background-black {
    background-color: $black;
}
.background-black-light {
    background-color: $black-light;
}
.background-blue-light {
    background-color: $blue-light;
}
.background-blue {
    background-color: $blue;
}
.background-blue-dark {
    background-color: $blue-dark;
}

.background-green {
    background-color: $green;
}
.background-orange {
    background-color: $orange;
}
.background-transparent {
    background-color: transparent !important;
}