.fb-page {
    width: 250px !important;
}

#fbplikebox{
    display: block;
    padding: 0;
    z-index: 99999;
    /*position: fixed;*/
    position: fixed;
}
.fbplbadge {
    background-color:#3B5998;
    display: block;
    height: 150px;
    /*top: 50%;*/
    top: 100px;
    /*margin-top: -75px;*/
    position: absolute;
    left: -47px;
    width: 47px;
    background-image: url('//1.bp.blogspot.com/-PUYBb2326SY/T13eXFv1sPI/AAAAAAAABdE/VOqfHVMXhWk/s1600/w2b_vertical-right.png');
    background-repeat: no-repeat;
    overflow: hidden;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
