.item_seznam_a {
    &:hover {
        text-decoration: none !important;
    }
    cursor: pointer !important;
}
.item_seznam {
    position: relative;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    display: flex;
    min-height: 300px;
    transition: all .3s ease-in-out;
    -webkit-box-shadow: 11px 3px 31px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 11px 3px 31px 0px rgba(0,0,0,0.25);
    box-shadow: 11px 3px 31px 0px rgba(0,0,0,0.25);

    @media (min-width: 768px) {
        min-height: 300px;
    }
    overflow: hidden;
    margin-bottom: 15px;
    .bottom {
        align-self: flex-end;
        min-width: 100%;
        width: 100%;
        h2 {
            /*background-color: $green;*/
            /*@include transparentBg($green, 0.6);*/
            min-height: 80px;
            font-size: 13pt;
            padding: 10px;
            overflow: hidden;
            color: $white;
            font-weight: bold;
            text-align: left;
            margin-bottom: 0px;
            a {
                color: $white;
                font-weight: bold;
            }
        }
    }
}