#menu_1, #menu_2 {
    .btn {
        white-space: normal;
    }
    .menu_kategorie h2 {
        margin-top: 0px;
        padding-top: 0px;
    }
    .menu_kategorie .btn {
        margin-bottom: 3px;
    }
}
#menu_1 {
    .menu_kategorie .btn-default {
        background: rgba(50, 50, 50, .1);
        color: white;
    }
}
#menu_2 {
    .menu_kategorie .btn-default {
        background-color: $gray;
        color: $black;
    }
    a {
        /*color: $black;*/
        font-weight: $semi-bold;
    }
}
#menu_top {
    .search {
        form {
            display: inline-block;
        }
        margin-top: 10px;
    }
}