$blue: #11579f;
$blue-light: #cfe2ee;
$white: #fff;
$gray: #f2f2f2;
$green: #1a667c;
$red: #cc0000;


$green-light: #eaf3e8;
$blue-dark: #06407a;
$gray-dark: #2a2f32;
$gray-light: #c2c8cf;
$gray-light-light: #f0f0f0;

$gray-light-light: #F5F5F2;
$black: #000;
$magenta: #9948a0;
$orange: #FE6600;
$black-light: #1c1c1c;
$gray-light-light: #EEE;
$yellow: yellow;

$light: 200;
$regular: 400;
$semi-bold: 600;
$bold: 700;


