@import '../config';

.articles {
	padding-top: 120px;
	.articles__row {
		flex-flow: unset;
		margin-bottom: 120px;
	}

	.articles__row--inline {
		align-items: flex-start;
		gap: 50px;
	}

	.articles__row--center {
		justify-content: center;
		text-align: center;
	}

	h1 {
		font-size: 1.5rem;
		line-height: 1.5;
		margin-bottom: 30px;
	}

	p {
		color: #2c2c2c;
	}

	.articles__col {
		width: 50%;
	}

	.articles__block {
		//padding: 0 90px;
		margin-bottom: 90px;
		.articles__col--copy {
			padding: 45px 90px;
		}
	}

	.articles__block--blue {
		padding: 0;
		margin-bottom: 0;
		.articles__row {
			align-items: center;
			margin: 15px 0 30px;
		}

		.articles__col--copy {
			background-color: $light-blue;
		}

		h2 {
			color: $blue;
			font-size: 30px;
		}

		h3 {
			margin-top: 0;
		}
	}

	.articles__block--box {
		.articles__row {
			margin-top: 60px;
			background-color: $light-blue;
		}
	}

	.articles__block--center {
		text-align: center;
	}

	.articles__col--copy {
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-sizing: border-box;
	}

	.articles__image {
		display: block;
		width: 100%;
		border-radius: 10px;
	}
}

.articles--content {
	position: relative;
	margin-top: -30px;
	padding-top: 0;

	.articles__row {
		margin: 50px 0;
	}
    
	h1 {
		font-size: 35px;
	}

	h2 {
		font-size: 24px;
	
	}

	.perex {
		font-size: 20px;
	}
}