@import '../config';

.cover {
	position: relative;
	margin-bottom: 0;
	.cover__image {
		display: block;
		max-width: 1920px;
		width: 100%;
		margin: 0 auto;
		img {
			display: block;
			width: 100%;
		}
	}

	.cover__wrapper {
		display: flex;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}

	h1 {
		font-size: $hero-font-size;
		color: $white;
		margin-bottom: 60px;
		text-align: center;
		font-weight: 400;
		@media screen and (max-width: 1270px) {
			font-size: 45px;
		}

		@include max640px {
			font-size: 37.5px;
			margin-bottom: 30px;
		}

		@include max480px {
			font-size: 30px;
			margin-bottom: 20px;
		}

		@include max375px {
			//font-size: $hero-font-size - 0.5rem;
		}
	}

	.cover__subheadline {
		color: $white;
		font-size: 24px;
	
	}

	.cover__copy {
		margin-bottom: 2rem;
	}
}
