@import '../config';
@import '../core/breakpoints';

.navigation {
	display: flex;
	align-items: center;
	.navigation__list {
		display: flex;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.navigation__item {
		margin: 0 1rem;
		padding-bottom: 40px;
		&:hover {
			.navigation__link {
				color: $blue;
			}
		}
	}

	.navigation__item--active {
		.navigation__link {
			font-weight: bold;
			color: $blue;
			text-decoration: none;
		}
	}

	.navigation__item--has-submenu {
		background-image: url(#{$images-path}/ui/small-arrow-down.svg);	
		background-position: 50% 70%;
		background-repeat: no-repeat;
		&.show {
			.submenu {
				display: flex;
				z-index: 100;
			}	
		}
		@extend .trans;
		&:hover {
			.submenu {
				display: flex;
				z-index: 100;
			}
		}
	}

	.navigation__link {
		font-size: 18px;
		text-decoration: none;
		@extend .trans;
	}
}
