@import '../config';

.tiles {
	position: relative;
	margin-top: -60px;
	z-index: 100;
	margin-bottom: 0;
	@media screen and (max-width: 1120px) {
		margin-top: 60px;
	}

	.tiles__wrapper {
		padding-bottom: 120px;
		border-bottom: 1px solid #c7c6c6;
	}

	.tiles__row {
		gap: 60px;
		justify-content: center;
	}
}

.tiles--partners {
	.tile {
		.tile__icon {
			max-width: 230px;
		}	
	}
}

.tile {
	background-color: $light-blue;
	max-width: 350px;
	width: 100%;
	padding: 45px 60px;
	border-radius: 15px;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	@extend .trans;
	&:hover {
		transform: translateY(-15px);
	}

	.tile__icon {
		display: block;
		max-width: 75px;
		margin: 0 auto 1rem;
		&.tile__smallicon {
			padding: 20px 0;
		}
	}

	.tile__headline {
		font-size: 1.5rem;
		font-weight: bold;
		color: $black;
	}

	.tile__copy {
		color: $light-gray;
	}

	.tile__link {
		font-weight: bold;
		color: $blue;
		text-decoration: none;
	}
}

.tile--blue {
	background-color: $blue;

	.tile__headline,
	.tile__copy,
	.tile__link {
		color: $white;
	}
}
