{block content}

<section class="articles articles--content">
	<div class="articles__wrapper wrapper">
		<div class="articles__block mt-3" style="padding: 0;">
            <h1 n:block="title">Kontakt</h1>
            
            <p>
                Bude doplněno. 
            </p>
        </div>
    </div>
</section>

{include '../includes/form.latte'}
